@import url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF.css");
/* @import url('https://font.elice.io/css?family=Elice+Digital+Baeum" rel="stylesheet'); */

:root {
  font-family: "YeogiOttaeJalnan", sans-serif;
  line-height: 1.5;
  font-display: swap;
  font-weight: normal;

  color-scheme: light dark;
  color: #ffffff;
  background-color: #88ff00;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, input, button, textarea, select {
  /* 2. CSS 파일에 정의된 폰트 이름('JalnanOTF')을 사용합니다 */
  font-family: 'JalnanOTF', sans-serif;
  font-weight: 400; /* 이 폰트는 굵기가 하나뿐이라 400이든 700이든 비슷하게 나옵니다 */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fa8705;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #f88222;
    background-color: #ffb223;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #ffffff;
  }
}